<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <title>Cadastro de Ocorrencias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--tag css-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/estilo.css" rel="stylesheet" media="screen">      

    <!--AngularJS-->  
    <script src="js/angular.js"></script>

    <script >      
    
    //post
    angular.module("myApp", []);
    angular.module("myApp").controller("ocorrenciaCtrl", function ($scope, $http) {
    //  var vm = this;
      
    //  vm.ocorrencia = {};
      
      $scope.addDados = function (ocorrencia) {
        


        console.log(ocorrencia);


        //vm.pessoa.veiculos = vm.veiculos;
        $http({
          method: 'POST',
          url:'http://localhost:8080/ocorrencia/novo',
          data: $scope.ocorrencia
        });
        //$http.post("http://localhost:8080/pessoafisica/novo", pessoa);

      };
      });

    </script>
  </head>


  <body ng-controller = "ocorrenciaCtrl">

    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top corFundo">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed "  data-toggle="collapse" data-target="#lista-menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          
            <a class="navbar-brand" href="home.html"><img src="img/logo3.png" alt="Logo da empresa"></a>
          </div>

          <div id="lista-menu" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav navbar-right">
              <li><a href="home.html">Home</a></li>
              
          <!--<li><a href="cadastro.html">Cadastro</a></li>-->
              
              <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastrar<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><a href="cadastro.html">Cliente</a></li>
                   <li><a href="cadastroGuincho.html">Organização</a></li>
                   <li><a href="cadastroOcorrencia.html">Ocorrência</a></li>            
                 </ul>
             </li>


              <li><a href="ocorrencias.html">Ocorrências</a></li>
              <li><a href="sobre.html">Sobre</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>


<!---   
 <div class="container">
      <div id="googleMap"></div>     
</div>
-->


  <div class="container page-wrap">
    <!--
    <fieldset>
      <legend>Cadastrar Ocorrencia</legend>
    </fieldset>
    -->
    <div class="row">   
      <div class="col-md-4 col-md-offset-4">
        
        <form name="form1" method="post" action="javascript:void(0);" >

          <div class="form-group" ng-controller="ocorrenciaCtrl">
            <h3>Localização</h3>

            <label class="control-label field-label" for="rua">Rua</label>  
            <input id="rua" name="rua" type="text" ng-model ="ocorrencia.rua" placeholder="Ex. XV Novembro" class="form-control input-md cpf-mask">  

            <label class="control-label field-label" for="bairro">Bairro</label>  
            <input id="bairro" name="bairro" type="text" ng-model = "ocorrencia.bairro" placeholder="Ex. Centro" class="form-control input-md cpf-mask">  

            <label class="control-label field-label" for="cidade">Cidade</label>  
            <input id="cidade" name="cidade" type="text" ng-model="ocorrencia.cidade"  placeholder="Ex. Blumenau" class="form-control input-md cpf-mask">  

            <label class=" control-label field-label" for="pontoReferencia">Ponto de referencia</label>  
            <input id="pontoReferencia" name="pontoReferencia" type="text" ng-model="ocorrencia.pontoReferencia"  placeholder="Ex. Perto da Prefeitura" class="form-control input-md">

            <label class="control-label field-label" for="uf">UF</label>
            <input id="uf" name="uf" type="text" ng-model="ocorrencia.uf" placeholder="Ex. XV Novembro" class="form-control input-md cpf-mask">
                
            <label class="control-label field-label" for="complemento">Complemento</label>
            <input id="complemento" name="complemento" type="text" ng-model="ocorrencia.complemento" placeholder="Ex. XV Novembro" class="form-control input-md cpf-mask">

            <label class="control-label field-label" for="numero">Numero</label>
            <input id="numero" name=numero" type="text" ng-model="ocorrencia.numero" placeholder="Ex. XV Novembro" class="form-control input-md cpf-mask">

            <label class="control-label field-label" for="cep">CEP</label>
            <input id="cep" name="cep" type="text" ng-model="ocorrencia.cep" placeholder="Ex. XV Novembro" class="form-control input-md cpf-mask">
            
            {{ocorrencia}}  

          </div>

          <input type="submit" id="button1id" name="button1id" class="btn btn-success" value="Salvar" ng-click="addDados(ocorrencia)" />
        </form>
      </div>
    </div>
  </div>

  <footer class="site-footer">    
    <div class="container">
         <div class="row">
           <div class="col-md-12">
             <div class="text-center center-block">
               <a href="https://www.facebook.com" title="Facebook">
                 <i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
               <a href="https://www.twitter.com" title="Twitter">
                 <i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
               <a href="https://www.plus.google.com" title="Google+">
                 <i id="social-gp" class="fa fa-google-plus-square fa-4x social"></i></a>
               <a href="https://www.linkedin.com" title="Linkdin">
                 <i id="social-lk" class="fa fa-linkedin-square fa-4x social"></i></a>
               <a href="mailto:teste@furb.com" title="E-mail">
                 <i id="social-em" class="fa fa-envelope-square fa-4x social"></i></a>
             </div>
           </div>
        </div>
    </div>
  </footer>

  <script src="js/jquery-3.1.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js"></script>

  <!--
  <script>
        var myCenter = new google.maps.LatLng(-26.905480, -49.078664);

        function initialize() {
        var mapProp = {
        center:myCenter,
        zoom:15,
        scrollwheel:false,
        draggable:false,
        mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

        var marker = new google.maps.Marker({
        position:myCenter,
        });

        marker.setMap(map);
        }

        google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  -->

  </body>
</html>
